h1 {background: red;
    font-family: Cooper Black;
    color: yellow;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    transition: color .5s;
  }
  h1:hover{
    color: black;
  }

h2{
  transition: color .5s;
}
h2:hover{
  color: orange;
}

h3 { font-size: 30px;
  text-align: center;
  font-family: Cooper Black;


}

#cabecera {

  width: 100%;
  background-color: red;
}

.whatsapp{
  width: 50px;
  height: 50px;
  position: fixed;
  margin-left: 95%;
  margin-top: 40%;
}

#nave{
  width: 100%;
  height: 50px;
  background-color: red;

}

#superior{
  text-align: center;
  font-family: Cooper Black;
  font-size: 25px;
  transition: color .5s;
}
#superior:hover{
  color: orange;
}

#links{
  font-family: Cooper Black;
}

#link1{
  float: left;
  width: 20%;
  text-align: center;
}

a:hover{
  color: orange
}

#link2{
  float: left;
  width: 20%;
  text-align: center;

}

#link3{
  float: right;
  width: 20%;
  text-align: center;

}

#link4{
  float: right;
  width: 20%;
  text-align: center;

}

#link5{
  float: right;
  width: 20%;
  text-align: center;

}


#info {
  text-align: center;
}


.principal{
  width:60%;
}

.pasos{
  text-align: center;
}

@font-face {
  font-family: "alone";
  src: url("../alone.ttf")
  format('truetype');
}

#titulopasos{
  text-decoration: underline;
  font-family: "alone";
  font-size: 40px;
}

body { background-image: url(../cielo.jpg);
  background-attachment: fixed;
}

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
p{
  font-family: "Lora";
  font-size: 17px;
}

.redes{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

#facebook{
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 5px;
}

#instagram{
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 5px;

}

#twitter{
  width: 30px;
  height: 30px;
  float: right;
}

.imagen{
  text-align: center;
}

.volver{
  text-align: center;
  background: red;
  height: 30px;
  font-family: Cooper Black;
  font-size: 27px;
}
.vuelta{
  text-align: center;
  font-family: Cooper Black;
  width: 100%;
  font-size: 30px;

}
